<body>

    <form asp-controller="Modules" asp-action="Upload" method="post" enctype="multipart/form-data">
        <input type="file" name="uploadedFile"></br>
        <input type="submit"></input>
    </form>



</body>
