@using Microsoft.AspNetCore.Identity;
@using WeatherApp.Authorization;
@inject SignInManager<User> signInManager;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WeatherApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container" style="display: flex; justify-content: flex-start">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WeatherApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Modules"
                                asp-action="GetModules">Modules</a>
                        </li>
                    </ul>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    

                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Профиль
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            
                            @* <a class="dropdown-item">Я - администратор</a>
                                <a class="dropdown-item">Я - разработчик</a>
                                <a class="dropdown-item">Я - менеджер</a>
                                <a class="dropdown-item">Мой Профиль</a> *@
                        </div>
                    </div>
                    @* <div style="align-self: flex-end;">
                        <p>@User.Identity.Name</p>
                        <form method="post" asp-controller="Account" asp-action="Logout">
                        <input type="submit" value="Выход" />
                        </form>
                        </div> *@
                }
                else
                {
                    <div style="align-self: flex-end;">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
                            Войти
                        </button>
                    </div>
                    <div style="align-self: flex-end; order: 1">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Зарегистрироваться
                        </button>
                    </div>
                }
                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Введите данные для входа</h5>
                            </div>
                            <div class="modal-body">
                                @{
                                    await Html.RenderPartialAsync("Login", new WeatherApp.DB.LoginViewModel());
                                }
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Заполните форму регистрации</h5>
                            </div>
                            <div class="modal-body">
                                @{
                                    await Html.RenderPartialAsync("Register", new WeatherApp.DB.RegisterViewModel());
                                }
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
        &copy; 2020 - WeatherApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.canvasjs.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @RenderSection("Scripts", required: false)
</body>

</html>

@section scripts
{
    <script>

$('#dropdownMenuLink').on('click', function(){
    GetDropDownMenu();
});


function GetDropDownMenu(){
    $.ajax({
        type: "GET",
        url: "/Menu/GetProfileMenu",
        success: function (response) {
            var menuDiv = $(".dropdown-menu");
            $.each(response, function(i, element)
            {
                var controllerAndAction = element.Item3.split('/');
                var aElement = $('<a>').attr({'asp-controller': controllerAndAction[0], 'asp-action':controllerAndAction[1]});
                aElement.text(element.Item2);
                menuDiv.append(aElement);
            });
        }
    });
}


    </script>
}
