WeatherApp/.vs/
WeatherApp/WeatherApp/obj/
WeatherApp/WeatherApp/bin/
WeatherApp/.vscode/tasks.json
WeatherApp/.vscode/launch.json
WeatherApp/WeatherApp.Tests/obj/project.assets.json
WeatherApp/WeatherApp.Tests/obj/project.nuget.cache
WeatherApp/WeatherApp.Tests/obj/WeatherApp.Tests.csproj.nuget.dgspec.json
WeatherApp/WeatherApp.Tests/obj/WeatherApp.Tests.csproj.nuget.g.props
WeatherApp/WeatherApp.Tests/obj/WeatherApp.Tests.csproj.nuget.g.targets
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/appsettings.Development.json
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/appsettings.json
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ClosedXML.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/DocumentFormat.OpenXml.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ExcelNumberFormat.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.DotNet.InternalAbstractions.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Npgsql.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Npgsql.EntityFrameworkCore.PostgreSQL.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/nunit.engine.api.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/nunit.engine.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/nunit.framework.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.pdb
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/System.IO.Packaging.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/System.Net.Http.Formatting.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/testhost.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/WeatherApp.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/WeatherApp.exe
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/WeatherApp.pdb
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/WeatherApp.Tests.deps.json
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/WeatherApp.Tests.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/WeatherApp.Tests.pdb
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/WeatherApp.Tests.runtimeconfig.dev.json
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/WeatherApp.Tests.runtimeconfig.json
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/WeatherApp.Views.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/WeatherApp.Views.pdb
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/YandexDisk.Client.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WeatherApp/WeatherApp.Tests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
WeatherApp/WeatherApp.Tests/obj/Debug/netcoreapp3.1/WeatherApp.Tests.AssemblyInfo.cs
WeatherApp/WeatherApp.Tests/obj/Debug/netcoreapp3.1/WeatherApp.Tests.AssemblyInfoInputs.cache
WeatherApp/WeatherApp.Tests/obj/Debug/netcoreapp3.1/WeatherApp.Tests.assets.cache
WeatherApp/WeatherApp.Tests/obj/Debug/netcoreapp3.1/WeatherApp.Tests.csproj.CopyComplete
WeatherApp/WeatherApp.Tests/obj/Debug/netcoreapp3.1/WeatherApp.Tests.csproj.CoreCompileInputs.cache
WeatherApp/WeatherApp.Tests/obj/Debug/netcoreapp3.1/WeatherApp.Tests.csproj.FileListAbsolute.txt
WeatherApp/WeatherApp.Tests/obj/Debug/netcoreapp3.1/WeatherApp.Tests.csprojAssemblyReference.cache
WeatherApp/WeatherApp.Tests/obj/Debug/netcoreapp3.1/WeatherApp.Tests.dll
WeatherApp/WeatherApp.Tests/obj/Debug/netcoreapp3.1/WeatherApp.Tests.genruntimeconfig.cache
WeatherApp/WeatherApp.Tests/obj/Debug/netcoreapp3.1/WeatherApp.Tests.pdb
WeatherApp/WeatherApp.Tests/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
WeatherApp/WeatherApp.Files/obj/project.assets.json
WeatherApp/WeatherApp.Files/obj/project.nuget.cache
WeatherApp/WeatherApp.Files/obj/WeatherApp.Files.csproj.nuget.dgspec.json
WeatherApp/WeatherApp.Files/obj/WeatherApp.Files.csproj.nuget.g.props
WeatherApp/WeatherApp.Files/obj/WeatherApp.Files.csproj.nuget.g.targets
WeatherApp/WeatherApp.Files/bin/Debug/netcoreapp3.1/WeatherApp.Files.deps.json
WeatherApp/WeatherApp.Files/bin/Debug/netcoreapp3.1/WeatherApp.Files.dll
WeatherApp/WeatherApp.Files/bin/Debug/netcoreapp3.1/WeatherApp.Files.pdb
WeatherApp/WeatherApp.Files/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
WeatherApp/WeatherApp.Files/obj/Debug/netcoreapp3.1/WeatherApp.Files.AssemblyInfo.cs
WeatherApp/WeatherApp.Files/obj/Debug/netcoreapp3.1/WeatherApp.Files.AssemblyInfoInputs.cache
WeatherApp/WeatherApp.Files/obj/Debug/netcoreapp3.1/WeatherApp.Files.assets.cache
WeatherApp/WeatherApp.Files/obj/Debug/netcoreapp3.1/WeatherApp.Files.csproj.CoreCompileInputs.cache
WeatherApp/WeatherApp.Files/obj/Debug/netcoreapp3.1/WeatherApp.Files.csproj.FileListAbsolute.txt
WeatherApp/WeatherApp.Files/obj/Debug/netcoreapp3.1/WeatherApp.Files.csprojAssemblyReference.cache
WeatherApp/WeatherApp.Files/obj/Debug/netcoreapp3.1/WeatherApp.Files.dll
WeatherApp/WeatherApp.Files/obj/Debug/netcoreapp3.1/WeatherApp.Files.pdb
